[Unit]
Description=Honcho (Docker Compose)
After=network-online.target docker.service postgresql.service redis-server.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
User=deploy
Group=deploy
WorkingDirectory=/home/deploy/apps/honcho
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose up -d --pull always
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose up -d
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
