OPENCLAW_BRIDGE_PORT={{ salt['pillar.get']('openclaw:claude_bridge:api_port', 3456) }}
OPENCLAW_BRIDGE_STATUS_PORT={{ salt['pillar.get']('openclaw:claude_bridge:status_port', 3458) }}
DASHBOARD_PASS={{ salt['pillar.get']('secrets:vault:openclaw:claude_bridge:dashboard_pass') }}
{% set claude_bin = salt['pillar.get']('openclaw:claude_bridge:claude_bin', '') %}
{% if claude_bin %}
CLAUDE_BIN={{ claude_bin }}
{% endif %}
